#footer{
    background-color: rgba(255,255,101);
}
.footer-conteiner{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.secondary-links-menu-footer{
    list-style-type: none;
    padding: 0;
}
.right{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;

}
.secondary-links-menu a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    background-color: rgb(254, 177, 57);
    padding: 10px;
    border: 1px solid black;
    
}
.secondary-links-menu a:hover{
    background-color: white;
}
