@import url(header.css);
@import url(footer.css);
@import url(subscription.css);
@import url(main.css);

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/main-background.jpg);
}

* {
    box-sizing: border-box;
    /* font-family: 'Droid Sans', arial, serif; */
}

.wrapper {
    margin: auto;
}
ul, ol{
    padding: 0%;
}
li {
    padding-bottom: 10px;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}


.mukola-container{
    display: flex;
    margin: auto;
   align-items: center;
   justify-content: center;
}
