.main {
    display: flex;
    justify-content: center;
}

.oplata-text {
    font-size: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 12px;
    text-align: center;
    max-width: 800px;
}

.main-heading {
}

.main-description {
    font-size: 30px;
}

.main-text-paragraph {
    text-align: justify;
    font-size: 20px;
}

.main-list {
    align-self: start;
}

.achievements {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.achievement-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.achievement-heading {
    font-size: 30px;
    font-weight: bold;
}

.achievement-text {
    font-size: 18px;
}

.mukola {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-items: right;
    margin: auto;
}

.mukola-jpg {
    height: 500px;
    width: 500px;
}

.main-title {
    text-align: center;
    font-size: 40px;
}

.main-title-litle {
    font-size: 30px;
    color: green;
}

@media screen and (max-width: 1000px) {
    .main {
        display: block;
    }

    .mukola {
        align-items: flex-start;

    }

    .main-heading {
    }

    .main-description {
        font-size: 25px;
    }

    .main-text-paragraph {
        font-size: 18px;
    }

    .mukola-jpg {
        height: 500px;
        width: 500px;
    }
}

.gallery {
    text-align: center;
    min-height: 500px;
}

.gallery .text-offer {
    font-size: 25px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto 50px;
}

.gallery .product_honey-item-container {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery .product_honey-item {
    display: flex;
    gap: 16px;
    padding: 16px 16px 0 16px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background: white;
    border: var(--border);
    width: 100%;
    max-width: 280px;
    margin: 5px;
    min-width: 165px;
}

.gallery .headline img {
    margin-top: 10px;
    object-fit: contain;
}

.gallery .product_honey-type {
    font-size: 22px;
    text-transform: uppercase;
}

.gallery .product_honey-price {
    font-size: 40px;
    padding: 10px 0 20px;
}

.gallery .product_honey-about {
    font-size: 18px;
    width: 100%;
    max-width: 270px;
    margin: 40px 0;
}

/*.gallery .product_honey-about-wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.gallery a {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    border: var(--border);
    border-bottom: none;
    background-color: white;
    align-self: center;
    width: 100%;
    max-width: 230px;
    transition: 0.3s;
}

.gallery a:hover {
    background-color: var(--secondary-backgroup-color);
    color: white;
}

.product_honey-item-container img {
    margin-bottom: 10px;
}

.show-more {
    font-size: 22px;
    margin: 15px;
    margin-bottom: 20px;
}

.show-more-link {
    text-decoration: none;
    border: 2px solid gold;
    padding: 10px;
    background-color: white;
}

.show-more a:hover,
.show-more a.active {
    background-color: rgb(210, 214, 91);
}

.gallery-heading {
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .gallery {
        min-height: 500px;
        padding: 20px 0;
    }

    .gallery .text-offer {
        font-size: 16px;
        padding: 20px;
        margin: 0;
    }

    .gallery .product_honey-about-wrapper a {
        line-height: 30px;
        font-size: 15px;


    }

    .gallery .product_honey-type {
        font-size: 16px;
        text-transform: uppercase;
    }

    .gallery .product_honey-price {
        font-size: 22px;
        padding: 0 0 10px;
    }

    .gallery .product_honey-about {
        font-size: 14px;
        width: 100%;
        max-width: 240px;
        margin: 10px 0;
    }
}

.information {
    margin: 30px;
}

.number {
    text-align: center;
}

.contacts-list-adress {
    margin-left: 20px;
}

.contacts {
    font-size: 20px;
}

.contacts-title {
    margin: 40px;
}