.main{
    display: flex;
    flex-wrap: wrap;
}
.oplata-text{
    font-size: 20px;
}
.main-text{
    text-align: center;
    max-width: 50%;
    margin: auto;
}
.main-text-title{
    font-size: 35px;
}
.main-text-title-small{
    font-size: 30px;
}
.main-text-paragraph{
    font-size: 25px;
}
.number-wraper{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.mukola{
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-items: right;
    margin: auto;
}
.mukola-jpg{
    height: 500px;
    width: 500px;
}

.main-title{
    text-align: center;
    font-size: 40px;
}
.main-title-litle{
    font-size: 30px;
    color: green;
}
@media screen and (max-width: 1000px) {
   .main{
    display: block;
   }
   .mukola{
    align-items: flex-start;
   
   }
   .main-text{
    margin: auto;
   }
   .main-text-title{
    font-size: 30px;
}
.main-text-title-small{
    font-size: 25px;
}
.main-text-paragraph{
    font-size: 20px;
}
.mukola-jpg{
    height: 500px;
    width: 500px;
}
}
.product_honey {
    text-align: center;
    min-height: 500px;
}

.product_honey .text-offer {
    font-size: 25px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto 50px;
}

.product_honey .product_honey-item-container {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_honey .product_honey-item {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 100%;
    max-width: 280px;
    margin: 5px;
    min-width: 165px;
    border-color: gold;
}

.product_honey .headline img {
    margin-top: 10px;
    object-fit: contain;
}

.product_honey .product_honey-type {
    font-size: 18px;
    margin-top: 25px;
    text-transform: uppercase;
}

.product_honey .product_honey-price {
    font-size: 40px;
    padding: 10px 0 20px;
}

.product_honey .product_honey-about {
    font-size: 18px;
    width: 100%;
    max-width: 270px;
    margin: 40px 0;
}

.product_honey .product_honey-about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 15px;
}

.product_honey .product_honey-about-wrapper a {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 60px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid gold;
    border-bottom: none;
    background-color: white;
    align-self: center;
    width: 100%;
    max-width: 230px;
}

.product_honey .product_honey-about-wrapper a:hover {
    background-color: rgb(210, 214, 91);
}
.product_honey-item-container img{
    margin-bottom: 10px;
}
.show-more {
    font-size: 22px;
    margin: 15px;
    margin-bottom: 20px;
}
.show-more-link{
    text-decoration: none;
    border: 2px solid gold;
    padding: 10px;
    background-color: white;
}
.show-more a:hover,
.show-more a.active {
    background-color: rgb(210, 214, 91);
}
.product_selling{
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
    text-align: unset;
}

@media screen and (max-width: 768px) {
    .product_honey {
        min-height: 500px;
        padding: 20px 0;
    }

    .product_honey .text-offer {
        font-size: 16px;
        padding: 20px;
        margin: 0;
    }

    .product_honey .product_honey-about-wrapper a {
        line-height: 30px;
        font-size: 15px;


    }

    .product_honey .product_honey-type {
        font-size: 16px;
        margin-top: 8px;
        text-transform: uppercase;
    }

    .product_honey .product_honey-price {
        font-size: 22px;
        padding: 0 0 10px;
    }

    .product_honey .product_honey-about {
        font-size: 14px;
        width: 100%;
        max-width: 240px;
        margin: 10px 0;
    }
}
.information{
    margin: 30px;
}
.number{
    text-align: center;
}
.contacts-list-adress{
    margin-left: 20px;
}
.contacts{
    font-size: 20px;
}
.contacts-title{
    margin: 40px;
}