.subscriptions {
    text-align: center;
    min-height: 840px;
}

.subscriptions .text-offer {
    font-size: 25px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto 50px;
}

.subscriptions .subscriptions-item-container {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subscriptions .subscription-item {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    width: 100%;
    max-width: 280px;
    margin: 5px;
    min-width: 165px;
}

.subscriptions .headline img {
    margin-top: 10px;
    object-fit: contain;
}

.subscriptions .subscriptions-type {
    font-size: 18px;
    margin-top: 25px;
    text-transform: uppercase;
}

.subscriptions .subscriptions-price {
    font-size: 40px;
    padding: 10px 0 20px;
}

.subscriptions .subscriptions-about {
    font-size: 18px;
    width: 100%;
    max-width: 270px;
    margin: 40px 0;
}

.subscriptions .subscription-about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.subscriptions .subscription-about-wrapper a {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 60px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-bottom: none;
    background-color: white;
    align-self: center;
    width: 100%;
    max-width: 230px;
}

.subscriptions .subscription-about-wrapper a:hover {
    background-color: rgb(210, 214, 91);;
}

@media screen and (max-width: 768px) {
    .subscriptions {
        min-height: 500px;
        padding: 20px 0;
    }

    .subscriptions .text-offer {
        font-size: 16px;
        padding: 20px;
        margin: 0;
    }

    .subscriptions .subscription-about-wrapper a {
        line-height: 30px;
        font-size: 15px;
    }

    .subscriptions .subscriptions-type {
        font-size: 16px;
        margin-top: 8px;
        text-transform: uppercase;
    }

    .subscriptions .subscriptions-price {
        font-size: 22px;
        padding: 0 0 10px;
    }

    .subscriptions .subscriptions-about {
        font-size: 14px;
        width: 100%;
        max-width: 240px;
        margin: 10px 0;
    }
}