.menu {
	display: flex;
    margin: 25px;
    
}
.menu a {
	margin-right: 10px;
	padding: 10px;
    padding-right: 22px;
    padding-left: 22px;
	font: 17px Arial;
	text-decoration: none;
	color: #1437AD;
	border: 1px solid rgb(22, 161, 119);
	background-color: rgb(22, 161, 119);
    color: white;
}
.menu a:hover, .menu a.active {
	color: rgb(22, 161, 119);
	border: 1px solid rgb(22, 161, 119);
	background-color: #F5F6FA;
}