.content {
    max-width: 1200px;
    margin: auto;
    background-image: url(bg.png);
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

.intro {
    width: 80%;
    display: flex;
    justify-content: right;


}