:root{
    --main-bg-color: black;
}
* {
	box-sizing: border-box;
   
}

.xxx{
    height: 49px;
    background-color:  rgb(61, 61, 61);
    display: flex;
}

.qqq{
    width: 1100px;
	margin: 30px auto;
    margin-bottom: 0;
    margin-top: 0;
}
#menu {
	display: flex;
	justify-content:flex-start;
	background-color: rgb(61, 61, 61);
}
#menu a {
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
	font: bold 16px Arial;
}
#menu a:hover, #menu a.active {
	color: #484848;
	background-color: #fff;
}


#wrapper {
	width: 1100px;
	margin: 30px auto;
    margin-bottom: 0;
    margin-top: 0;
}


#container {
	display: flex;
    background-color: #fff;
}



#content {
	width: 495px;
	padding: 20px 0;
    text-align: justify;
    box-sizing: border-box;
} 



#leftSidebar, #rightSidebar {
	width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
	padding : 20px;
    padding-bottom: 0;
}




#footer {
	height: 250px;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
    text-align: center;
    background-color: var(--main-bg-color);
    box-sizing:border-box ;
    margin: 0;
}
.ccc{
    display: flex;
    width: 1100px;
	margin: 30px auto;
    margin-bottom: 0;
    margin-top: 0;
}
#footer p{
    text-align: center;
    font-size: 11px;
}
#footer .ccc div{
align-items: center;
    height: 190px;
    background-color: aliceblue;
}
.div1{
    margin-left: 0;
    margin-right: 20px;
}
.div2, .div3{
    margin-left: 20px;
    margin-right: 20px;
}
.div4{
    margin-right: 0;
    margin-left: 20px;
}



.eee{
    text-align: center;
    color: #fff;
    margin: 0;
    padding-bottom: 15px;
}
.rrr{
    background-color: black;
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    background-color: rgb(206, 206, 206);
}
img{
    width: 490px;
    height: 300px;
}
#leftSidebar img{
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
}
h4, h3{
    margin: 10px 0;
}
p{
    font-family: sans-serif ;
    font-size: 12px;
    margin: 3px;
    text-align: justify;
   
}
